<?xml version="1.0"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\vx.x\Config 
-->
<configuration>
  <appSettings/>
  <system.data>  
  	<defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient"/>
      <add name="SqlClient Data Provider" invariant="System.Data.SqlClient" description=".Net Framework Data Provider for SqlServer" type="System.Data.SqlClient.SqlClientFactory, System.Data, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    </DbProviderFactories>
  </system.data>
  <connectionStrings>
    <add name="c2capitalConnectionString" connectionString="metadata=res://*/DB.csdl|res://*/DB.ssdl|res://*/DB.msl;provider=MySql.Data.MySqlClient;provider connection string='server=d39b280d-8ef9-4c56-927f-a3e80013ffa9.mysql.sequelizer.com;database=dbd39b280d8ef94c56927fa3e80013ffa9;uid=ohyynkytuvspvqyt;pwd=KnTwFeU2cK7KHBdNncreZW5cAA7ENEypgLiffQBCFe54AvkuUfyVu22VqR4egomE'" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <system.web>
    <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
    <compilation debug="true" targetFramework="4.0">
		<assemblies>
			<add assembly="MySql.Data, Version=6.5.7, Culture=neutral, PublicKeyToken=C5687FC88969C44D"/>
			<add assembly="MySql.Web, Version=6.5.7, Culture=neutral, PublicKeyToken=C5687FC88969C44D"/>
			<add assembly="MySql.Data.Entity, Version=6.5.7 Culture=neutral, PublicKeyToken=C5687FC88969C44D"/>
			<add assembly="System.Data.Entity, Version=6.5.7, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
		</assemblies>
	</compilation>
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        
    <authentication mode="Windows"/>
    -->
    <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    <customErrors mode="Off"/>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
    <namespaces>
         <add namespace="System.Data" />
          <add namespace="System.Data.SqlClient" />
        <add namespace="MySql.Data" />
        <add namespace="MySql.Data.MySqlClient"/>
    </namespaces>
	</pages>
  </system.web>
  <!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
</configuration>