@charset "utf-8";

html, body {height: 100%;}

#mainBox {min-height: 100%;
margin-bottom: -15px;}

#main {overflow:auto;
	padding-bottom: 250px;
	height:100%;}  /* must be same height as the footer */

#rodape {position: relative;
	margin-top: -320px; /* negative value of footer height */
	min-height: 250px;
	clear:both;
}

/*Opera Fix*/
body:before {
	content:"";
	height:100%;
	float:left;
	width:0;
	margin-top:-32767px;
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-top: 0px;
}
#body {
	background-repeat: repeat-x;
}

html,body {
	padding: 0;
	margin: 0;
}

#topo {
	background-color: #212934;
	height: 100px;
	width: 100%;
	margin-top: 0px;
	float: left;
	
}
/*#menu_rodape {
	background-image: url(../img/rodape.fw.png);
  	background-repeat: no-repeat;
	width: 80%;
	height: 250px;
	margin-left: 170px;
    float:left;
	min-width: 500px;
	max-width: 500px;
	padding-top: 0px;
	margin-top: 30px;
	padding-left: 0px;
	padding-right: 0px;
    
}*/
#menu_rodape
{
    background:url(../img/rodape.fw.png);
    background-repeat: no-repeat;
    width:210px;
    height:350px;
    margin-top: -250px;

}

#topo2 {
	background-color:#171F2A;
	height: 10px;
	width: auto;
	margin-top: 0px;
}
#meio {
	height:100%;
	padding-top:100px;
	box-sizing: border-box;

}
#conteudo {
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	vertical-align: middle;
	padding-left: 0px;
	padding-right: 0px;
	height: 100%;
}

.conteudo-filho {
	min-height: 1px;
	height: 100%;
	margin-top: 0;
}
#conteudo .shadow-left {
	background: transparent url(../img/shadow-left.png) 0 0 repeat-y;
	min-height: 1px;
	position: absolute;
	top: 0;
	left: -100px;
	right: 1000px;
	bottom: 0;
	height: 1470px;
	}
#conteudo .shadow-right {
	background: transparent url(../img/shadow-right.png) 0 0 repeat-y;
	min-height: 1px;
	position: absolute;
	top: 0;
	left: 1000px;
	right: -100px;
	bottom: 0;
	height: 1470px;
}

/*#rodape {
	height: 350px;
	width: 100%;
	display: block;
	bottom: 0;
	left: 0;
	margin: 0;
	position: relative;
	background-color: #212934;
	margin-top: -320px;
}*/
#principalRodape 
{
    width: 100%;
	margin-left: auto;
	margin-right: auto;
	background-color:#212934;
	min-height: 350px;
	margin-bottom: 0px;
	margin-top: -320px;
    }

#rodape {
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
	min-height: 400px;
	background-color:#212934;
	bottom: 0;
	margin-top: -320px;
	position: relative;
	
}
#face
{
    float:right;
    margin-top: -320px;
   }
   
#menu {
	background-color: #FFF;
	height: 40px;
	width: 1000px;
}
.logo {
	margin-top: 20px;
	float: left;
	margin-left: 400px;
	
}
#HLogo{
	width: 942px;
	margin: auto;
	padding-top: 0px;
	padding-left: 0px;
	padding-right: 0px;
    height: 89px;
    text-align: center;
}

#mainBox
{
	width:100%;
	height:100%;
}

#conteudo2
{
	height: 1500px;
	width: 1000px;
	background-color: #FFF;
	
	}
#esqueceuSenha {
width: auto;
height:auto;
margin-left: 15px;
}

#media (min-width: 100px) and (max-width: 200px) {
	.selector1 {
		property1: value1;
		property2: value2;
	}
	.selector2 {
		property1: value1;
		property2: value2;
	};;
		